.section-dao {
    .banner {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h2 {
        color: #0c6ee6;
        font-size: 38px;
        margin-top: 60px;
        margin-bottom: 27px;
        letter-spacing: 5px;
        font-weight: 800;
        text-align: center;
    }
    .description {
        color: #544f4f;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 60px;
    }
    h4 {
        color: #0c6ee6;
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 90px;
    }
    .bg-gray {
        background: #f2f2f2;
        padding: 30px 30px;
        .feature-box {
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 4px 50px 0 rgb(0 0 0 / 10%);
            min-height: 150px;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            img {
                width: 100px;
                height: 100px;
            }
            h6 {
                color: #0c6ee6;
                margin-top: 15px;
                font-size: 18px;
                font-weight: 700;
            }
            .content {
                font-size: 15px;
                font-weight: 400;
                color: #544f4f;
                text-align: center;
                margin-top: 10px;
            }
        }
        .services {
            margin-top: 50px;
            h4 {
                margin-top: 80px;
            }
            ul {
                padding-left: 12px;
                li {
                    span {
                        color: black;
                        font-size: 18px;
                        font-weight: 800;
                    }
                    margin-top: 20px;
                    color: #544f4f;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}
