@import "../../../App.scss";

.about-us-page {
    .title {
        display: flex;
        height: 280px;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 60px;
            font-weight: 700;
        }
    }
}

.description {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.6px;
}

.best {
    margin-top: 100px;
}
.about-desc {
    .row {
        margin-top: 40px;
        justify-content: space-around;
        margin-bottom: 100px;
        .key-feature {
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 4px 50px 0 rgb(0 0 0 / 10%);
            min-height: 150px;
            padding: 0px 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            .title {
                font-size: 18px;
                font-weight: 700;
            }
            .content {
                font-size: 12px;
                font-weight: 400;
                color: gray;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}
